
<section class="answers">
    <div class="container">
        <div class="answers-title">
            <div class="answer-pre-title1" id="answer-pre-title1">
                Результат прохождения теста
            </div>
            <img src="/images/grey-arrow.png" alt="Стрелочка">
            <div class="answer-pre-title2" id="answer-pre-title2">
                Тест №1. “JavaScript: NO Начальный уровень”
            </div>
        </div>
        <div class="big-title">Правильные ответы <span>к тесту</span></div>
        <div class="author" id="author">
            <span>Тест выполнил </span>Роман Чернов, roman@itlogia.ru
        </div>
       <div class="answer-questions" id="options-all">
           <!-- <div class="answer-question">
               <div class="answer-question-title" id="title">
                   <span>Вопрос 1: </span>Тут должен быть текст вопроса?
               </div>
               <div class="answer-question-options">
                   <div class="answer-question-option green">
                       <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="10" cy="10" r="10" fill="#5FDC33" />
                           <circle cx="10" cy="10" r="4" fill="white" />
                       </svg>

                       <div for="answer-one">Вариант ответа 1</div>
                   </div>
                   <div class="answer-question-option  red">
                       <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="10" cy="10" r="10" fill="#DC3333" />
                           <circle cx="10" cy="10" r="4" fill="white" />
                       </svg>

                       <div for="answer-two">Вариант ответа 2</div>
                   </div>
                   <div class="answer-question-option">
                       <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="10" cy="10" r="10" fill="#6933DC" />
                           <circle cx="10" cy="10" r="7" fill="white" />
                       </svg>

                       <div for="answer-three">Вариант ответа 3</div>
                   </div>
                   <div class="answer-question-option">
                       <div>
                           <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="#6933DC" /><circle cx="10" cy="10" r="7" fill="white" /></svg>
                       </div>

                       <input type="radio" id="answer-for" name="answer">
                       <div>Вариант ответа 4</div>
                   </div>
               </div>
           </div>
           <div class="answer-question">
               <div class="answer-question-title" id="title2">
                   <span>Вопрос 2: </span>Тут должен быть текст вопроса?
               </div>
               <div class="answer-question-options" id="options2">
                   <div class="answer-question-option">
                       <input type="radio" id="answer-one2" name="answer">
                       <label >Вариант ответа 1</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-two2" name="answer">
                       <label >Вариант ответа 2</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-three2" name="answer">
                       <label >Вариант ответа 3</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-for2" name="answer">
                       <label >Вариант ответа 4</label>
                   </div>
               </div>
           </div>
           <div class="answer-question">
               <div class="answer-question-title" id="title3">
                   <span>Вопрос 3: </span>Тут должен быть текст вопроса?
               </div>
               <div class="answer-question-options" id="options3">
                   <div class="answer-question-option">
                       <input type="radio" id="answer-one3" name="answer">
                       <label for="answer-one">Вариант ответа 1</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-two3" name="answer">
                       <label for="answer-two">Вариант ответа 2</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-three3" name="answer">
                       <label for="answer-three">Вариант ответа 3</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-for3" name="answer">
                       <label for="answer-for">Вариант ответа 4</label>
                   </div>
               </div>
           </div>
           <div class="answer-question">
               <div class="answer-question-title" id="title4">
                   <span>Вопрос 4: </span>Тут должен быть текст вопроса?
               </div>
               <div class="answer-question-options" id="options4">
                   <div class="answer-question-option">
                       <input type="radio" id="answer-one4" name="answer">
                       <label for="answer-one">Вариант ответа 1</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-two4" name="answer">
                       <label for="answer-two">Вариант ответа 2</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-three4" name="answer">
                       <label for="answer-three">Вариант ответа 3</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-for4" name="answer">
                       <label for="answer-for">Вариант ответа 4</label>
                   </div>
               </div>
           </div>
           <div class="answer-question">
               <div class="answer-question-title" id="title5">
                   <span>Вопрос 5: </span>Тут должен быть текст вопроса?
               </div>
               <div class="answer-question-options" id="options5">
                   <div class="answer-question-option">
                       <input type="radio" id="answer-one5" name="answer">
                       <label for="answer-one">Вариант ответа 1</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-two5" name="answer">
                       <label for="answer-two">Вариант ответа 2</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-three5" name="answer">
                       <label for="answer-three">Вариант ответа 3</label>
                   </div>
                   <div class="answer-question-option">
                       <input type="radio" id="answer-for5" name="answer">
                       <label for="answer-for">Вариант ответа 4</label>
                   </div>
               </div>
           </div>-->
       </div>
        <div class="pass-question answer-question-result" id="pass-question-results">

<!--            <a href="javascript:void(0)" id="pass">Обратно к моему результату теста <img src="/images/small-arrow.png"-->
<!--                                                                                  alt="Стрелка далее"></a>-->

        </div>
    </div>

</section>
